<%% content_for :page_title do %>
  <%%= I18n.t("activerecord.models.spree/<%=singular_name%>") %>
<%% end %>

<%% content_for :page_actions do %>
  <%%= button_link_to Spree.t(:back_to_resources_list), collection_url, :icon => 'arrow-left' %>
  <%%= button_link_to(Spree.t(:print), object_url(@object, :pdf), :icon => 'print', :target => "_blank", :class => "btn btn-primary") %>
<%% end %>

<fieldset>
  <div data-hook="admin_<%= singular_name %>_show_fields" class="row">
    <div class="col-md-6">
      <% attributes.each do |attribute| -%>
          <% next if attribute.name == 'position' && attribute.type == :integer -%>
          <% next if attribute.name == 'slug' -%>
          <%%= content_tag :div, class: ['form-group'] do %>
          <% if options[:fk].values.include?(attribute.name) -%>
              <% fk_name = options[:fk].invert[attribute.name] -%>
              <%% if @object.<%=fk_name%>.present? %>
              <%%= label_tag :<%= attribute.name %> %>
              <%%= content_tag(:div, "override this #{@object.<%=fk_name%>}")%>
              <%% end %>
          <% elsif attribute.type == :image || attribute.type == :file -%>
              <%%= label_tag :<%= attribute.name %> %>
            <% if attribute.type == :image -%>
                <%% if @object.<%= attribute.name %>_file_name %>
                <div>
                  <%%= image_tag @object.<%= attribute.name %>.url(:large) -%>
                </div>
                <%% end %>
            <% elsif attribute.type == :file -%>
                <%% if @object.<%= attribute.name %>_file_name %>
                <div>
                  <%%= link_to Spree.t(:download_file), @object.<%= attribute.name %>.url,
                  target: '_blank' %>
                </div>
                <%% end %>
            <% end -%>
          <% else -%>
              <%%= label_tag :<%= attribute.name %> %>
              <%%= content_tag(:div, @object.<%=attribute.name %>)%>
          <% end -%>
          <%% end %>
      <% end -%>
    </div>
  </div>
</fieldset>
