<fieldset>
  <div data-hook="admin_<%= singular_name %>_show_fields">
    <div class="row">
      <div class="col-md-6">
    <%- attributes.each do |attribute| -%>
        <%- next if (attribute.name == 'position' && attribute.type == :integer) || attribute.name == 'slug' || attribute.name == 'deleted_at' -%>
        <%%= content_tag :div, class: ['form-group'] do %>
        <%- if options[:enum].include?(attribute.name) -%>
            <%%= label_tag :<%= attribute.name %>, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=attribute.name%>") %>
            <%%=content_tag(:div, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=attribute.name.pluralize%>.#{object.<%=attribute.name%>}"))%>
        <%- elsif options[:fk].values.include?(attribute.name) -%>
            <%- fk_name = options[:fk].invert[attribute.name] -%>
            <%% if object.<%=fk_name%>.present? %>
            <%%= label_tag :<%= attribute.name %>, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=attribute.name%>") %>
            <%%= content_tag(:div, "override this #{object.<%=fk_name%>}")%>
            <%% end %>
        <%- elsif attribute.type == :boolean -%>
            <%%= label_tag :<%= attribute.name %>, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=attribute.name%>") %>
            <%%= content_tag(:div, Spree.t("scaffold.say_#{object.<%= attribute.name %>}"))%>
        <%- elsif attribute.type == :image || attribute.type == :file -%>
            <%%= label_tag :<%= attribute.name %>, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=attribute.name%>") %>
            <%- if attribute.type == :image -%>
                <%% if object.<%= attribute.name %>_file_name %>
                <div><%%= image_tag object.<%= attribute.name %>.url(:large) -%></div>
                <%% end %>
            <%- elsif attribute.type == :file -%>
                <%% if object.<%= attribute.name %>_file_name %>
                <div><%%= link_to Spree.t(:download_file), object.<%= attribute.name %>.url, target: '_blank' %></div>
                <%% end %>
            <%- end -%>
        <%- elsif attribute.type == :datetime -%>
            <%%= label_tag :<%= attribute.name %>, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=attribute.name%>") %>
            <%%= content_tag(:div, l(object.<%=attribute.name %>)) if object.<%=attribute.name %>.present?%>
        <%- else -%>
            <%%= label_tag :<%= attribute.name %>, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=attribute.name%>") %>
            <%%= content_tag(:div, object.<%=attribute.name %>)%>
        <%- end -%>
        <%% end %>
    <%- end -%>
      </div>
    </div>
  </div>
  <%- @nested_hash.keys.each do |nested| -%>
  <div data-hook="admin_<%= singular_name %>_<%=nested%>_form_fields">
    <%%= label_tag :<%= nested %>, I18n.t("activerecord.attributes.spree/<%=singular_name%>.<%=nested%>") %>
    <table class="index table-condensed table-bordered sortable table" data-sortable-link="<%%= <%= "update_positions_admin_#{nested}_url" %> %>">
      <thead data-hook="<%=nested.singularize%>_header">
        <tr>
      <%- @nested_hash[nested].each do |h| -%>
        <%- if h[:type] == :polymorphic -%>
          <th><%%= label_tag I18n.t(:<%=h[:name]%>_id, :scope => 'activerecord.attributes.spree/<%=nested.singularize%>') %></th>
        <%- elsif h[:name] != 'position' && h[:name] != "#{singular_name}_id" -%>
          <th><%%= label_tag I18n.t(:<%=h[:name]%>, :scope => 'activerecord.attributes.spree/<%=nested.singularize%>') %></th>
        <%- end -%>
      <%- end -%>
        </tr>
      </thead>
      <tbody id="<%=nested%>-tbody">
      <%% object.<%=nested%>.each do |<%=nested.singularize%>| %>
        <tr id="<%%=spree_dom_id(<%=nested.singularize%>)%>" class="<%%= cycle('odd', 'even') %>">
  <%- @nested_hash[nested].each do |hash| -%>
    <%- if hash[:type] == :polymorphic -%>
        <td data-hook="col-<%= hash[:name] %>_id"><%%= <%=nested.singularize%>.<%=hash[:name]%>_id %></td>
    <%- elsif hash[:name] == "#{singular_name}_id" || hash[:name] == 'position' -%>
    <%- elsif hash[:type] == :image || hash[:type] == :file -%>
        <td data-hook="col-<%= hash[:name] %>">
      <%- if hash[:type] == :image -%>
          <%% if <%=nested.singularize%>.<%=hash[:name]%>_file_name %>
            <div><%%= image_tag <%=nested.singularize%>.<%=hash[:name]%>.url(:mini) -%></div>
          <%% end %>
      <%- elsif hash[:type] == :file -%>
          <%% if <%=nested.singularize%>.<%=hash[:name]%>_file_name %>
            <div><%%= link_to Spree.t(:download_file), <%=nested.singularize%>.<%=hash[:name]%>.url, target: '_blank' %></div>
          <%% end %>
      <%- end -%>
        </td>
    <%- elsif hash[:type] == :boolean -%>
        <td data-hook="col-<%= hash[:name] %>">
          <%%=Spree.t("scaffold.say_yes")%>: <%%= <%=nested%>_form.radio_button :<%=hash[:name]%>, 1, :checked => <%=nested.singularize%>.<%=hash[:name]%> == true %>&nbsp;&nbsp;
          <%%=Spree.t("scaffold.say_no")%>: <%%= <%=nested%>_form.radio_button :<%=hash[:name]%>, 0, :checked => <%=nested.singularize%>.<%=hash[:name]%> == false %>&nbsp;&nbsp;
        </td>
    <%- elsif hash[:type] == :datetime -%>
        <td data-hook="col-<%= hash[:name] %>"><%%= l(<%=nested.singularize%>.<%=hash[:name]%>) %></td>
    <%- else -%>
        <td data-hook="col-<%= hash[:name] %>"><%%= <%=nested.singularize%>.<%=hash[:name] %> %></td>
    <%- end -%>
  <%- end -%>
        </tr>
      <%% end %>
      </tbody>
    </table>
  </div>
  <%- end -%>
</fieldset>
