<%% content_for :title do %>
  <%%= "Spree #{Spree.t('administration')}: " %>
  <%%= I18n.t("activerecord.models.spree/<%=singular_name%>") %>
<%% end %>

<%% content_for :page_title do %>
<%%= "#{Spree.t('scaffold.new')} #{I18n.t("activerecord.models.spree/<%=singular_name%>")}" %>
<%% end %>

<%% content_for :page_actions do %>
  <%%= button_link_to Spree.t("scaffold.back_to_resources_list"), collection_url, :icon => 'arrow-left' %>
<%% end %>

<div data-hook="admin_<%= singular_name %>_new_form_header">
  <%%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @<%= singular_name %> } %>
</div>

<div data-hook="admin_<%= singular_name %>_new_form">
  <%%= form_for [:admin, @<%= singular_name %>] do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%%= render 'form', f: f %>
        <%%= render 'spree/admin/shared/new_resource_links' %>
      </div>
    </div>
  <%% end %>
</div>

<script>
  $(document).ready(function() {
      $(".spree_add_sub_fields").click();
  });
</script>